/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

/* Basic Reset and Body Styling */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FDFFE2;
}

/* Navbar Styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1A2130;
    padding: 10px 20px;
}
.navbar img {
    height: 50px;
}
.navbar .search-bar {
    flex: 1;
    margin: 0 20px;
}
.navbar .search-bar input {
    width: 100%;
    padding: 5px 15px;
    border: none;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: all 0.3s ease;
}
.navbar .search-bar input::placeholder {
    color: #aaa;
    font-style: italic;
}
.navbar .search-bar input:focus {
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.navbar a {
    color: #FDFFE2;
    opacity: 0.5;
    transition: 0.3s ease;
    text-decoration: none;
    margin: 0 5px;
}
.navbar a:hover {
    opacity: 1;
}
.navbar a.active {
    border-bottom: 2px solid white;
    border-radius: 0px;
}

/* Footer Styling */
.footer {
    height: 120px;
    background-color: #1A2130;
    text-align: center;
    padding: 20px;
    color: #FDFFE2;
}
.footer a {
    color: #FDFFE2;
    opacity: 0.5;
    transition: 0.3s ease;
    text-decoration: none;
    margin: 0 5px;
}
.footer a:hover {
    opacity: 1;
}
.footer .list {
    list-style: none;
    padding-top: 10px;
}
.footer .list li {
    display: inline-block;
    margin: 0 10px;
}
.footer .list li a {
    text-decoration: none;
}

/* Main Section Styling */
.main_sec {
    padding: 80px 50px;
    font-family: 'Montserrat', sans-serif;
    flex: 1;
}
.side-scroller-box {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: calc(160vh - 200px);
}
.side-scroller {
    overflow-y: scroll;
}
.filter-sidebar h5 {
    margin-top: 0;
}
.filter-group h6 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.filter-group ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.filter-group ul li {
    margin-bottom: 10px;
}
.filter-group input[type="checkbox"] {
    margin-right: 10px;
}
.product-list .card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.product-list .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar .search-bar {
        margin: 10px 0;
    }
    .main_sec {
        padding: 20px;
    }
    .side-scroller-box {
        height: auto;
    }
    .filter-group {
        margin-bottom: 20px;
    }
}
