body {font-family: Arial, sans-serif; margin: 0; padding: 0;}
.navbar {display: flex; align-items: center; justify-content: space-between; background-color: #1A2130; padding: 10px 20px;}
.navbar img {height: 50px;}
.navbar .search-bar {flex: 1; margin: 0 20px;}
.navbar .search-bar input {width: 100%; padding: 5px;}
.navbar a {color: #FDFFE2; opacity: 0.5; transition: 0.3s ease; text-decoration: none; margin: 0 5px;}
.navbar a:hover {opacity: 1; color: #FDFFE2;}
body {display: flex; flex-direction: column; min-height: 100vh; margin: 0; background-color: #FDFFE2;}
.navbar {display: flex; align-items: center; justify-content: space-between; background-color: #1A2130; padding: 10px 20px;}
.navbar img {height: 50px;}
.navbar .search-bar {flex: 1; margin: 0 20px;}
.navbar .search-bar input {width: 100%; padding: 5px;}
.navbar a {color: white; text-decoration: none; margin-left: 20px; padding: 10px 15px; border-radius: 5px;}
.navbar a:hover {background-color: #1A2130;}
.content {flex: 1;}
.footer {height: 120px; background-color: #1A2130;}

.container {height: 559px; display: flex; padding-top: 48px; justify-content: center;}
.login {width: 450px; display: flex; height: 500px; border: 2px solid #5a72a0; border-radius: 5px; background-color: #5a72a0;
   justify-content: center; text-align: center; padding: 20px;}
.title {display: flex; align-items: center; text-align: center; padding: 20px 0; margin-bottom: 20px; color: #FDFFE2; justify-content: center;}
.title h5 {margin-right: 10px; justify-content: center;}
.title a {text-decoration: none; color: #83b4ff; font-size: 25px; justify-content: center; padding-bottom: 8px;}
.login input {width: 400px; margin-bottom: 10px; padding: 5px; box-sizing: border-box;}
.login button {margin-top: 10px;  width: calc(100% - 20px);  padding: 10px; border: 2px solid #83b4ff; background-color: #83b4ff;
    color: #FDFFE2; border: none; cursor: pointer; box-sizing: border-box; border-radius: 5px; transition: 0.3s ease;}
.login button:hover {color: #FDFFE2; background-color: #83b4ff;}
.login label {display: block; text-align: left; margin-bottom: 5px; width: 100%;}
.other-link {color: #FDFFE2;}
.other-link p {margin-top: 20px; line-height: 0.6;}
.other-link a {color: #FDFFE2; opacity: 0.7; text-decoration: none;}
.other-link a:hover {color: #FDFFE2; text-decoration: underline; opacity: 1;}

.footer {text-align: center; padding: 20px; background-color: #1A2130; background-size: cover;}
.footer a {color: #FDFFE2; opacity: 0.5; transition: 0.3s ease; text-decoration: none; margin: 0 5px;}
.footer a:hover {opacity: 1; color: #FDFFE2;}

.list {list-style: none; padding-top: 10px;}
.list li {display: inline-block; margin: 0 10px;}
.list li a {text-decoration: none;}